/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/* BARRA DE ROLAGEM DO SITE */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,.3);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.3);
    border-radius: 10px;    
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 80, 18, .7);
}

/* MAX-WIDTH SITE*/
.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

/* HEADER */
header .bg-blue {
    width: 100%;
    background-color: #005AA0;
    height: 32px;
    box-shadow: #000 0 0 10px;
    position: fixed;
    z-index: 1;
}

header .bg-blue .container {
    display: flex;
    justify-content: space-between;
}

header .address .href {
    display: flex;
    align-items: center;
}

header img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-left: 20px;
}

header .address a {
    text-decoration: none;
    color: #fff;
}

header .address p {
    text-transform: uppercase;
    font-weight: bold; 
}

header .tel .href {
    display: flex;
    align-items: center;
    text-decoration: none;
}

header .tel .href img {
    margin-left: 0;
}

header .tel .href p {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin-right: 20px;
}

/* MENU */
header .bg-black {
    background-color: #000;
    width: 100%;
    height: 70px;
    opacity: 70%;
    position: fixed;
    z-index: 2;
    top: 32px;
}

header .bg-black .container {
    display: flex;    
    justify-content: space-between;
}

header .bg-black img {
    width: 100%;
    max-width: 150px;
    height: 40px;
    margin-top: 10px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
    margin-top: 25px;   
}

header nav ul li a {
    text-decoration: none;
    padding: 27px 10px;
    margin-left: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

header nav ul li a:hover {
    background-color: rgba(0,90,160,.5);
    transition-duration: 0.5s;
}

header nav ul li .first { 
    background-color: rgba(0,90,160,.5);
}

header nav ul li .end {
    padding-right: 0;
    margin-right: 20px;
}

/* SLIDE OTHER ARCHIVE bootstrap.css and slider.css*/

/* company about */
.company {
    top: 651px;
    position: relative;
    background-image: url('../images/empresa-fundo.png');
    background-size: initial;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    padding-bottom: 100px;
}

.the-company {
    display: flex;
}

.company 
.bg-black {
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,.5);
    width: 30%;
    margin: 100px auto 20px;
}

.company .bg-black h2,
.company .bg-black p {
    color: #fff;
    margin: 20px;
    text-align: center;
}

.company 
.bg-black a {
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    border: 2px solid;
    border-radius: 5px;
    max-width: 200px;
    padding: 5px;
    text-transform: uppercase;
    text-decoration: none;
}

.company 
.bg-black a:hover { 
    border-color: #ffa500;
    color: #ffa500;
    transition-duration: 1s;
}

.company 
.bg-btn-green a:hover {
    border-color: rgb(4, 104, 4);
    color: green;
    transition-duration: 1s;
}

.company 
.bg-black-values {
    width: 100%;
    max-width: 97%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    background-color: rgba(0,0,0,.5);
    display: flex;
    flex-direction: column;
}

.company 
.bg-black-values h2{
    color: #fff;
    margin: 20px;
    text-align: center;
}

.company 
.bg-black-values a{
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    border: 2px solid;
    border-radius: 5px;
    max-width: 200px;
    padding: 5px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 20px;
}

.company 
.bg-black-values a:hover { 
    border-color: #ffa500;
    color: #ffa500;
    transition-duration: 1s;
}

/* SERVICES */
.services {
    top:651px;
    position: relative;
}

.services 
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.services 
.letters {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-size: 50px;
    margin: 5px;
    margin-top: 50px;
    font-weight: bold;
    padding: 5px;
    border: 1px solid rgb(119, 4, 148);
    color: rgb(94, 2, 81);
}

.services 
.letters:hover {
    background-color: rgb(94, 2, 81);
    color: rgb(255, 145, 0);
    transition-duration: 0.5s;
}

.description-services {
    position: relative;
    top: 651px;
}

.description-services 
.sgt-cloud {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    width: 100%;
}

.description-services 
.img-sgtclound {
    width: 50%;
}

.description-services 
.img-sgtclound img{
    width: 400px;
    height: 400px; 
}

.description-services 
.sgtclound-description {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.description-services 
.sgtclound-description h2{
    font-size: 5rem;
    color: #005AA0;
}

.description-services 
.sgtclound-description p{
    font-size: 30px;
    text-align: justify;
}

.description-services 
.sgtclound-description span{
    color: #005AA0;
    font-weight: bold;
}

.description-services 
.sgtclound-description a {
    margin: auto;
    font-weight: bold;
    border: 2px solid #005AA0;
    border-radius: 5px;
    padding: 5px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    align-items: flex-end;
    width: 30%;
    color: #005AA0;
}

.description-services 
.sgtclound-description a:hover {
    background-color: #005AA0;
    border-color: #005AA0;
    color: #fff;
    transition-duration: 1s;
}

.description-services 
.sgt-audit {
    display: flex;
    justify-content: space-between;
    margin-top: 15%;
}

.description-services 
.img-sgtaudit img{
    width: 400px;
    height: 400px; 
}

.description-services 
.sgt-consult {
    display: flex;
    justify-content: space-between;
    margin-top: 15%;
}

.description-services 
.img-sgtconsult img{
    width: 400px;
    height: 400px; 
}

/* CLIENTS */
.clients {
    position: relative;
    top: 800px;
}

.clients
.bg-color {
    background-color: #f7f7f7;
}

.clients
.slider-clients {
    padding: 40px 0;
    display: flex;
    overflow: hidden;
}

.clients
.slider-clients
img {
    margin: 0 60px;
    animation: slide-logo-clients 5s ease-in infinite;
}

@keyframes slide-logo-clients {
    0% {
        transform: translate(0px);
    }

    90% {
        transform: translate(-600px);
    }

    100% {
        transform: initial;
    }
}

/* BLOG */
.blog {
    position: relative;
    top: 800px;
}

.blog .title {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #005AA0;
}

.blog .title h2 {
    text-align: center;
    font-size: 50px;;
}

.blog .container {
    display: flex;
    flex-direction: column;
}

.blog .blog-articles {
    display: flex;
    flex-wrap: wrap;
}

.blog .blog-articles article {
    border: 1px solid rgba(0,0,0,.1);
    margin: 0 auto 10px;
    width: 30%;
    border-radius: 5px;
}

.blog .blog-articles article:hover {
    border-color: #005AA0;
    transition-duration: 1s;
    background-color: rgb(195, 196, 255);
    transition-duration: 3s;
}

.blog .blog-articles a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.blog .blog-articles h2 {
    margin-left: 2px;
}

.blog .blog-articles img {
    width: 150px;
    height: 150px;
    padding: 5px;
}

footer {
    position: relative;
    top: 950px;
}

footer p {
    padding: 50px;
    background-color: rgba(0,0,0,.3);
    color: #fff;
    text-align: center;
}